<div class="center hero-unit">
		<h1>Welcome to Cardinform!</h1>

		<h2>
			Find your perfect credit card now!
		</h2>

		<%= link_to "Get started now!", "#", class: "btn btn-large btn-primary" %>
</div>